<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Markets</title>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
</head>
<body>
	<div>
		<ul class='menu_media' style="text-align:right;">
			<li>
				<a href="/exit">
				Exit
				</a>
			</li>
		</ul>
	</div>
	<form method="POST">
		<table class='radiobuttons'>
			<tr>	
				{% if search_criteria == 'State' %}
				<td class='rButton'>	
					<input type="radio" id="rBtnName" name="searching" value="MarketName">
					<label for="rBtnName">Name</label>
					<input type="radio" id="rBtnState" name="searching" value="State" checked>
					<label for="rBtnState">State</label>

				</td>
				<td class='rButton'>
					<input type="radio" id="rBtnCity" name="searching" value="City">
					<label for="rBtnCity">City</label>
					<input type="radio" id="rBtnZip" name="searching" value="Zip">
					<label for="rBtnZip">ZIP</label>					
				</td>
				{% elif search_criteria == 'City' %}
				<td class='rButton'>	
					<input type="radio" id="rBtnName" name="searching" value="MarketName">
					<label for="rBtnName">Name</label>
					<input type="radio" id="rBtnState" name="searching" value="State">
					<label for="rBtnState">State</label>

				</td>
				<td class='rButton'>
					<input type="radio" id="rBtnCity" name="searching" value="City" checked>
					<label for="rBtnCity">City</label>
					<input type="radio" id="rBtnZip" name="searching" value="Zip">
					<label for="rBtnZip">ZIP</label>					
				</td>
				{% elif search_criteria == 'Zip' %}
				<td class='rButton'>	
					<input type="radio" id="rBtnName" name="searching" value="MarketName">
					<label for="rBtnName">Name</label>
					<input type="radio" id="rBtnState" name="searching" value="State">
					<label for="rBtnState">State</label>

				</td>
				<td class='rButton'>
					<input type="radio" id="rBtnCity" name="searching" value="City" >
					<label for="rBtnCity">City</label>
					<input type="radio" id="rBtnZip" name="searching" value="Zip" checked>
					<label for="rBtnZip">ZIP</label>					
				</td>
				{% else %}
				<td class='rButton'>	
					<input type="radio" id="rBtnName" name="searching" value="MarketName" checked>
					<label for="rBtnName">Name</label>
					<input type="radio" id="rBtnState" name="searching" value="State">
					<label for="rBtnState">State</label>

				</td>
				<td class='rButton'>
					<input type="radio" id="rBtnCity" name="searching" value="City" >
					<label for="rBtnCity">City</label>
					<input type="radio" id="rBtnZip" name="searching" value="Zip">
					<label for="rBtnZip">ZIP</label>					
				</td>				
				{% endif %}	
				<td style="text-align:left;">
					<input type="text" name="search-input" value='{{search_entry}}' class='entry'>
				</td>
				<td style="width:20%;">
					<button type="submit" class='btn_SubmitForm'>Search</button>
				</td>
			</tr>
			<tr>
				<td>
					<ul class="menu_media" style="width:81px;">
						<li style="vertical-align:-10px;"><a href="/">Refresh</a></li>
					</ul>
				</td>
				<td colspan='2'></td>
				<td>
					<select name="order_markets" type="submit" onchange="this.form.submit()" class='cmbbx_Group_markets'>
						<option value="Sort">Sort by</option>
						<option value="A-Z">A-Z</option>
						<option value="Z-A">Z-A</option>
						<option value="City">City</option>
						<option value="State">State</option>
						<option value="Rank DESC">Rank</option>
						<option value="Votes DESC">Votes</option>
					</select>
				</td>
			</tr>
		</table>

		<div name="market_cards" class="div_all_market_cards">
			{% for market in markets %}
				<a href="info?market_id={{market.FMID}}">
					<table class='market_card'>	
						<tr>
							<td colspan='2' class='table_header'>{{market.MarketName}}</td>
						</tr>
						<tr>
							<td>Rank:
							<div class="rating-mini">
							{% if market.Rank == 1 %}
								<span class="active"></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							{% elif market.Rank == 2 %}						
								<span class="active"></span>  
								<span class="active"></span>
								<span></span>
								<span></span>
								<span></span>							
							{% elif market.Rank == 3 %}	
								<span class="active"></span>  
								<span class="active"></span>
								<span class="active"></span>
								<span></span>
								<span></span>
							{% elif market.Rank == 4 %}	
								<span class="active"></span>  
								<span class="active"></span>
								<span class="active"></span>
								<span class="active"></span>
								<span></span>
							{% elif market.Rank == 5 %}						
								<span class="active"></span>
								<span class="active"></span>
								<span class="active"></span>
								<span class="active"></span>
								<span class="active"></span>
							{% else %}
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>	
							{% endif %}
							</div>
							</td>
							<td>Votes: {{market.Votes}}</td>
						</tr>
						<tr>
							<td>City: {{market.City}}</td>
							<td>State: {{market.State}}</td>
						</tr>
					</table>
				</a>
			{% endfor %} 
		</div>
	</form>	
</body>
</html>