<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{market.MarketName}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div>
		<ul class='menu_media' style="text-align:right;">
			<li>
				<a href="/exit">
				Exit
				</a>
			</li>
		</ul>
	</div>
	<form method="POST">
		<input type="hidden" name="form_type" value="formOne">
		<table class='radiobuttons'>
			<tr> 
				<td colspan='2'></td>
				<td rowspan='2'>	
						Other&nbsp;markets&nbsp;in
						<input type="text" name="search-distance" value="{{distance}}" class='distance'>
						miles					
						<button type="submit" class='btn_SubmitForm'>
						Search</button>				
								
				</td>
			</tr>
			<tr>
				<td style="width:27%; height:50px;">
					<ul class="menu_media">
						<li><a href="/">Main</a></li>
					</ul>
				</td>
				<td style="width:43%;">
					<ul class="menu_media_center">
						{% if not prev_market %}
						<li>Previous</li>
						<li><a href="info?market_id={{next_market.FMID}}">Next</a></li>
						{% elif not next_market %}
						<li><a href="info?market_id={{prev_market.FMID}}">Previous</a></li>
						<li>Next</li>
						{% else %}
						<li><a href="info?market_id={{prev_market.FMID}}">Previous</a></li>
						<li><a href="info?market_id={{next_market.FMID}}">Next</a></li>
						{% endif %}
					</ul>
				</td>
			</tr>
		</table>
	
		{% if new_markets %}
			<div class='wrapper'>
				<table style="width:100%;">
					<tr>
						<td style="text-align:right;">
							<select name="order_markets" type="submit" class='cmbbx_Group_nearby_markets' onchange="this.form.submit()">
								<option value="A-Z">Sort by</option>
								<option value="A-Z">A-Z</option>
								<option value="Z-A">Z-A</option>
								<option value="dist">Distance</option>
								<option value="City">City</option>
								<option value="Rank DESC">Rank</option>
								<option value="Votes DESC">Votes</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							{% for new_market in new_markets %}
								<a href="info?market_id={{new_market.FMID}}">
									<table class='nearby_market_card'>	
										<tr>
											<td colspan='2' class='table_header' style="height:5%;">{{new_market.MarketName}}</td>
										</tr>
										<tr>
											<td style="width:40%;">Rank:
												<div class="rating-mini">
												{% if new_market.Rank == 1 %}
													<span class="active"></span>
													<span></span>
													<span></span>
													<span></span>
													<span></span>
												{% elif new_market.Rank == 2 %}						
													<span class="active"></span>  
													<span class="active"></span>
													<span></span>
													<span></span>
													<span></span>							
												{% elif new_market.Rank == 3 %}	
													<span class="active"></span>  
													<span class="active"></span>
													<span class="active"></span>
													<span></span>
													<span></span>
												{% elif new_market.Rank == 4 %}	
													<span class="active"></span>  
													<span class="active"></span>
													<span class="active"></span>
													<span class="active"></span>
													<span></span>
												{% elif new_market.Rank == 5 %}						
													<span class="active"></span>
													<span class="active"></span>
													<span class="active"></span>
													<span class="active"></span>
													<span class="active"></span>
												{% else %}
													<span></span>
													<span></span>
													<span></span>
													<span></span>
													<span></span>	
												{% endif %}
												</div>
											</td>
											<td>Votes: {{new_market.Votes}}</td>
										</tr>
										<tr>
											<td>City: {{new_market.City}}</td>
											<td>Street: {{new_market.Street}}</td>
										</tr>
									</table>
								</a>
							{% endfor %}
						</td>
					</tr>
				</table>
			</div>
		{% endif %}
	</form>

	<div class='market_info'>		
		<div class='table_header'>{{market.MarketName}}</div>
		<ul class="menu_media_center">
			{% if market.Website and market.Facebook and market.OtherMedia%}
			<li><a href="{{market.Website}}">Website</a></li>
			<li><a href="{{market.Facebook}}">Facebook</a></li>
			<li><a href="{{market.OtherMedia}}">Other media</a></li>
			{% elif not market.Website and not market.Facebook %}
			<li>Website</li>
			<li>Facebook</li>
			<li><a href="{{market.OtherMedia}}">Other media</a></li>
			{% elif not market.Website and not market.OtherMedia%}
			<li>Website</li>
			<li><a href="{{market.Facebook}}">Facebook</a></li>
			<li>Other media</li>	
			{% elif not market.Facebook and not market.OtherMedia %}
			<li><a href="{{market.Website}}">Website</a></li>
			<li>Facebook</li>
			<li>Other media</li>	
			{% elif not market.Website %}
			<li>Website</li>
			<li><a href="{{market.Facebook}}">Facebook</a></li>
			<li><a href="{{market.OtherMedia}}">Other media</a></li>
			{% elif not market.Facebook %}
			<li><a href="{{market.Website}}">Website</a></li>
			<li>Facebook</li>
			<li><a href="{{market.OtherMedia}}">Other media</a></li>
			{% elif not market.OtherMedia %}
			<li><a href="{{market.Website}}">Website</a></li>
			<li><a href="{{market.Facebook}}">Facebook</a></li>
			<li>Other media</li>
			{% else %}
			<li>Website</li>
			<li>Facebook</li>
			<li>Other media</li>	
			{% endif %}				
		</ul>		
		<table class='card'>
			<tr>
				<td>Rank:
					<div class="rating-mini">
					{% if market.Rank == 1 %}
						<span class="active"></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					{% elif market.Rank == 2 %}						
						<span class="active"></span>  
						<span class="active"></span>
						<span></span>
						<span></span>
						<span></span>							
					{% elif market.Rank == 3 %}	
						<span class="active"></span>  
						<span class="active"></span>
						<span class="active"></span>
						<span></span>
						<span></span>
					{% elif market.Rank == 4 %}	
						<span class="active"></span>  
						<span class="active"></span>
						<span class="active"></span>
						<span class="active"></span>
						<span></span>
					{% elif market.Rank == 5 %}						
						<span class="active"></span>
						<span class="active"></span>
						<span class="active"></span>
						<span class="active"></span>
						<span class="active"></span>
					{% else %}
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>	
					{% endif %}
					</div>
				</td>
				<td style="width:40%"></td>
				<td>Comments:</td>
			</tr>
			<tr>
				<td>
					City: {{market.City}}
					<p>Street: {{market.Street}}</p>
					<p>County: {{market.County}}</p>
					<p>State: {{market.State}}</p>
					<p>Latitude: {{market.Latitude}}</p>
					<p>Longitude: {{market.Longitude}}</p>
				</td>
				<td></td>
				<td>
					<div class='comments_wrapper'>
					{% for comment in comments %}
						<div class='comments_of_visitors'>
						{% if not comment.Nickname %}
						Be the first!
						{% else %}
						{{comment.Nickname}}
						{% if comment.Comment %}
							<p>{{comment.Comment}}</p>
						{% else %} <p><br></p>
						{% endif %}
						<p>Ranked:
						<div class="rating-mini">
						{% if comment.Ranked == 1 %}
							<span class="active"></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						{% elif comment.Ranked == 2 %}						
							<span class="active"></span>  
							<span class="active"></span>
							<span></span>
							<span></span>
							<span></span>							
						{% elif comment.Ranked == 3 %}	
							<span class="active"></span>  
							<span class="active"></span>
							<span class="active"></span>
							<span></span>
							<span></span>
						{% elif comment.Ranked == 4 %}	
							<span class="active"></span>  
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span></span>
						{% elif comment.Ranked == 5 %}						
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
							<span class="active"></span>
						{% else %}
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>						
						{% endif %}
						</div>
						</p>
						{% endif %}
						</div>
					{% endfor %}
					</div>
				</td>
			</tr>
			<tr>
				<td style="text-transform: none;">
					We are selling: 
					<ul>
					{% for markets_good in markets_goods %}
						<li style="list-style-type:none;">
							{{markets_good}}
						</li>
					{% endfor %} 
					</ul>
				</td>
				<td colspan='2' style='width:65%;'>
					<form id='comment_form' method="POST">
						<input type="hidden" name="form_type" value="formTwo">
						<table class='comments_form'>
							<tr>
								<td colspan='2'>
									Your comment:
								</td>
								<td rowspan='3' style="width:15%;">
									<div class='tip'>
									To leave a comment and rank a market, create a unique nickname.
									<p>To be able to change your comments or delete them, create and enter a password as well, if you yet don't have it!</p>
									</div>
								</td>
							</tr>
							<tr>
								<td style="width:40px;">
									<label for="nickname">Name:</label>
								</td>
								<td class="entry_column">
									<input type="text" id='nickname' required name="nickname-input" value='{{user_comment_from_db.Nickname}}' class='entry_nickname'>
								</td>
							</tr>
							<tr>
								<td style="width:40px; padding-right:3px;">
									<label for="pass">Password:</label>
								</td>
								<td class="entry_column">
									<input type="password" id='pass' name="password-input" class='entry' style="margin:0px; width:94%">
									<p style="padding-left: 4px; text-align:center;">
									<button type="submit" class='btn_Show_Delete_Com' name='show_comment' value='Show_comment' onclick='this.comment_form.submit()'>Show my comment</button>
									<button type="submit" class='btn_Show_Delete_Com' name='delete_comment' value='Delete_comment' onclick='this.form.submit()'>Delete my comment</button>
									</p>
								</td>
							</tr>
							<tr>
								<td colspan='3'>
									Feedback:
									{% if user_comment_from_db %}
									<textarea type="text" name="comment-input" class='entry_comment'>{{user_comment_from_db.Comment}}</textarea>
									{% else %}
									<textarea type="text" name="comment-input" class='entry_comment'></textarea>
									{% endif %}
								</td>
							</tr>
							<tr>
								<td>Rank: </td>
								<td style="padding:0;">
									{% if user_comment_from_db.Rank == 1 %}
									<div class="rating-area" style="margin-top:8px;">
											<input type="radio" id="star-5" name="star-rating" value="5">
											<label for="star-5" title="1"></label>	
											<input type="radio" id="star-4" name="star-rating" value="4">
											<label for="star-4" title="4"></label>    
											<input type="radio" id="star-3" name="star-rating" value="3">
											<label for="star-3" title="3"></label>  
											<input type="radio" id="star-2" name="star-rating" value="2">
											<label for="star-2" title="2"></label>    
											<input type="radio" id="star-1" name="star-rating" checked value="1">
											<label for="star-1" title="1"></label>
									</div>	
									{% elif user_comment_from_db.Rank == 2 %}					
									<div class="rating-area" style="margin-top:8px;">						
											<input type="radio" id="star-5" name="star-rating" value="5">
											<label for="star-5" title="5"></label>	
											<input type="radio" id="star-4" name="star-rating" value="4">
											<label for="star-4" title="4"></label>    
											<input type="radio" id="star-3" name="star-rating" value="3">
											<label for="star-3" title="3"></label>  
											<input type="radio" id="star-2" name="star-rating" checked value="2">
											<label for="star-2" title="2"></label>    
											<input type="radio" id="star-1" name="star-rating" value="1">
											<label for="star-1" title="1"></label>
									</div>	
									{% elif user_comment_from_db.Rank == 3 %}							
									<div class="rating-area" style="margin-top:8px;">						
											<input type="radio" id="star-5" name="star-rating" value="5">
											<label for="star-5" title="5"></label>	
											<input type="radio" id="star-4" name="star-rating" value="4">
											<label for="star-4" title="4"></label>    
											<input type="radio" id="star-3" name="star-rating" checked value="3">
											<label for="star-3" title="3"></label>  
											<input type="radio" id="star-2" name="star-rating"  value="2">
											<label for="star-2" title="2"></label>    
											<input type="radio" id="star-1" name="star-rating" value="1">
											<label for="star-1" title="1"></label>
									</div>	
									{% elif user_comment_from_db.Rank == 4 %}
									<div class="rating-area" style="margin-top:8px;">						
											<input type="radio" id="star-5" name="star-rating" value="5">
											<label for="star-5" title="5"></label>	
											<input type="radio" id="star-4" name="star-rating" checked value="4">
											<label for="star-4" title="4"></label>    
											<input type="radio" id="star-3" name="star-rating" value="3">
											<label for="star-3" title="3"></label>  
											<input type="radio" id="star-2" name="star-rating" value="2">
											<label for="star-2" title="2"></label>    
											<input type="radio" id="star-1" name="star-rating" value="1">
											<label for="star-1" title="1"></label>
									</div>	
									{% elif user_comment_from_db.Rank == 5 %}							
									<div class="rating-area" style="margin-top:8px;">						
											<input type="radio" id="star-5" name="star-rating" checked value="5">
											<label for="star-5" title="5"></label>	
											<input type="radio" id="star-4" name="star-rating" value="4">
											<label for="star-4" title="4"></label>    
											<input type="radio" id="star-3" name="star-rating" value="3">
											<label for="star-3" title="3"></label>  
											<input type="radio" id="star-2" name="star-rating" value="2">
											<label for="star-2" title="2"></label>    
											<input type="radio" id="star-1" name="star-rating" value="1">
											<label for="star-1" title="1"></label>
									</div>	
									{% else %}							
									<div class="rating-area" style="margin-top:8px;">						
											<input type="radio" id="star-5" name="star-rating" value="5">
											<label for="star-5" title="5"></label>	
											<input type="radio" id="star-4" name="star-rating" value="4">
											<label for="star-4" title="4"></label>    
											<input type="radio" id="star-3" name="star-rating" value="3">
											<label for="star-3" title="3"></label>  
											<input type="radio" id="star-2" name="star-rating" value="2">
											<label for="star-2" title="2"></label>    
											<input type="radio" id="star-1" name="star-rating" value="1">
											<label for="star-1" title="1"></label>
									</div>
									{% endif %}
								</td>
								<td class="entry_column">
									<button type="submit" class='btn_SubmitForm' name='add_comment' value='Add_comment'>Done</button>
								</td>
							</tr>
						</table>
					</form>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>